@use "../base/colors";
@use "../base/mixins";
.card-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  box-sizing: border-box;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1368px) {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: colors.$white;
  }
  .flag-percent-placeholder {
    height: 30px;
    width: 100%;
    visibility: hidden;
  }

  .flag-percent {
    height: 30px;
    width: 100%;
    background-color: colors.$header;
    color: colors.$main;
    @include mixins.center-flex(center);

    span {
      display: inline-block;
      text-align: center;
      font-weight: bold;
      width: 100%;
    }
  }

  .flag-news {
    height: 30px;
    background-color: colors.$header;
    color: colors.$main;
    font-weight: bold;
    @include mixins.center-flex(center);

    span {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .price-container {
    padding: 5px;
    width: 100%;
    background-color: colors.$header;
    color: colors.$text;
    text-align: center;

    .title {
      font-weight: bold;
      margin: 5px 0;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
    }
  }

  .price-content {
    margin: 5px 0;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }

    .new-price {
      color: colors.$main;
      font-weight: bold;
    }

    .old-price {
      text-decoration: line-through;
      text-decoration-color: colors.$main;
    }
  }

  img {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
  }

  .card-content {
    width: 100%;
    box-sizing: border-box;
  }

  .empty-percent {
    visibility: hidden;
    width: 15%;
    padding: 5px;
  }
}
