{% extends 'base_admin.html.twig' %}

{% block main %}
    {# Conteneur principal pour afficher le message lorsqu'il n'y a aucune commande #}
    <div class="container">
        <h1>Vous n'avez aucune commande</h1> {# Titre principal du message #}
        <p>Aucune commande n'a été actuellement passée</p> {# Message informant l'utilisateur qu'aucune commande n'est présente #}
    </div>
{% endblock %}