.breadcrumb-container {
  margin: 20px auto;
  height: 5%;
  width: 90%;

  .breadcrumb-content {
    height: 100%;
    margin: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding: 5px;

    li {
      list-style: none;
    }

    a {
      width: 100%;
    }

    .breadcrumb-item {
      font-size: 1.2rem;
      font-family: "Libre Bodoni", sans-serif;
      color: var(--second);

      a {
        font-size: 1.2rem;
        font-family: "Libre Bodoni", sans-serif;
        color: var(--second);
      }
    }

    .svg-home {
      margin: 0 0 5px 0;
    }
  }
}